* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Major Mono Display', monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    margin-bottom: 40px;
    text-shadow: 3px 3px 0 #ff0000, -3px -3px 0 #00ffff;
}

h3 {
    margin-bottom: 40px;
}

.controls {
    margin-top: 40px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 0 #ff0000, -3px -3px 0 #00ffff;
}

.controls span i {
    font-size: 30px;
}

.controls span:active {
    border-radius: 100%;
    background-color: #00ffff;
    color: #ff0000;
}